doctype html 
html
  head
    include components/_head

  body
    // header
    include components/_header

    //content
    block content 
      h1 This is a placeholder title

    //footer
    include components/_footer

